/cRegistros/target/
/pFich/target/
/pFinSemestre/nbproject/private/
/pFinSemestre/build/
/tasksList/nbproject/private/
/taskList/nbproject/private/
/SI2/OdontoFich/build/
/SI2/OdontoFich/nbproject/private/
